* {
    margin: 0;
    padding: 0;
}

.hero {
height: 100%;
width: 100%;
background-color: black;
background-position: center;
background-size: cover;
position: absolute;
}

/* Media query for phones */
@media (max-width: 767px) {
.hero {
    height: auto;
}
}

/* Media query for PC browsers */
@media (min-width: 768px) {
.hero {
    height: 100%;
}
}

.form-box {
    background: linear-gradient(180deg, brown, orange);
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
}

.button-box {
    opacity: 1;
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e9c3c31f;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  
  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ffffff, #ffffff);
    border-radius: 30px;
    transition: 0.5s;
  }

.logo img {
    display: block;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.input_group {
    top: 50px; /* Adjust the value as per your preference */
    position: absolute;
    width: 280px;
    transition: 0.5s;
    margin-left: 5px;
  }

#login-username {
    width: 260px;
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
#login-password {
    width: 260px;
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    margin-bottom: 50px;
}
#username {
    width: 260px;
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
#password {
    width: 260px;
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    margin-bottom: 50px;
}


.submit-btn {
    width: 150px; /* Adjust the width as per your preference */
    height: 40px; /* Adjust the height as per your preference */
    padding: 10px;
    cursor: pointer;
    position: absolute; /* Use absolute positioning */
    top: 110%; /* Adjust the vertical position */
    left: 35%; /* Adjust the horizontal position */
    transform: translate(-50%, -50%); /* Center the button */
    background: linear-gradient(to right, #ffffff, #ffffff);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}
span {
    font-size: 12px;
    position: absolute;
}

#login {
    left: 50px;
    top: 169px; /* Adjust the value as per your preference */
}

#register {
    left: 450px; /* Adjust the value as per your preference */
    top: 169px; /* Adjust the value as per your preference */
  position: absolute;
}
.menu {
    left: 450px;
}