<!DOCTYPE html>
<html>
<head>
	<script src="socket.io/socket.io.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="hero">
		<div class="form-box">
			<div class="button-box">
				<div id="btn"></div>
				<button type="button" class="toggle-btn" onclick="login()">Log In</button>
				<button type="button" class="toggle-btn" onclick="register()">Register</button>
			</div>
			<form id="login" class="input-group">
				<input type="text" id="login-username" placeholder="Username" required="">
				<input type="password" id="login-password" placeholder="Password" required="">
				<button type="submit" class="submit-btn">Login</button>
			</form>
			<form id="register" class="input-group">
				<input type="text" id="username" placeholder="Username" required="">
				<input type="password" id="password" placeholder="Password" required="">
				<button type="submit" class="submit-btn">Register</button>
			</form>
		</div>
	</div>
</body>
<script>
	function register() {
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    var z = document.getElementById("btn");
    x.style.left = "-400px";
    y.style.left = "50px";
    z.style.left = "110px";
}

// Function to switch to the login form
function login() {
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    var z = document.getElementById("btn");
    x.style.left = "50px";
    y.style.left = "450px";
    z.style.left = "0px";
}
const registerForm = document.getElementById("register");
const loginForm = document.getElementById("login");
const loginLabel = document.querySelector(".login label");

// Function to handle registration form submission
registerForm.addEventListener("submit", (e) => {
    e.preventDefault(); // Prevent default form submission
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;
    // Save username and password in localStorage
    localStorage.setItem(username, password);
    alert("Registration successful. You can now login.");
});

// Function to handle login form submission
loginForm.addEventListener("submit", (e) => {
    e.preventDefault(); // Prevent default form submission
    const username = document.getElementById("login-username").value;
    const password = document.getElementById("login-password").value;
    // Check if username and password match
    const storedPassword = localStorage.getItem(username);
    if (storedPassword !== null && storedPassword === password) {
        alert("Login successful.");
    } else {
        alert("Invalid username or password.");
    }
});

// Function to switch to the registration form

</script>
</html>